In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /opt/conda/lib/python3.6/site-packages (2.3.1)
Requirement already satisfied: py4j==0.10.7 in /opt/conda/lib/python3.6/site-packages (from pyspark) (0.10.7)

In [2]:
!pip install sparkmonitor

Requirement already satisfied: sparkmonitor in /opt/conda/lib/python3.6/site-packages (0.0.9)
Requirement already satisfied: bs4 in /opt/conda/lib/python3.6/site-packages (from sparkmonitor) (0.0.1)
Requirement already satisfied: beautifulsoup4 in /opt/conda/lib/python3.6/site-packages (from bs4->sparkmonitor) (4.6.3)

In [3]:
import sparkmonitor

In [4]:
!jupyter nbextension install sparkmonitor --py --user --symlink 
!jupyter nbextension enable sparkmonitor --py --user            
!jupyter serverextension enable --py --user sparkmonitor
!ipython profile create && echo "c.InteractiveShellApp.extensions.append('sparkmonitor.kernelextension')" >>  $(ipython profile locate default)/ipython_kernel_config.py

Installing /opt/conda/lib/python3.6/site-packages/sparkmonitor/static -> sparkmonitor
- Validating: OK

    To initialize this nbextension in the browser every time the notebook (or other app) loads:

          jupyter nbextension enable sparkmonitor --user --py

Enabling notebook extension sparkmonitor/module...
      - Validating: OK
Enabling: sparkmonitor.serverextension
- Writing config: /home/jovyan/.jupyter
    - Validating...
      sparkmonitor.serverextension  OK

In [5]:
import pyspark
import random

In [6]:
print(conf.toDebugString())

spark.extraListeners=sparkmonitor.listener.JupyterSparkMonitorListener
spark.driver.extraClassPath=/opt/conda/lib/python3.6/site-packages/sparkmonitor/listener.jar

In [8]:
conf.setAppName('ExtensionTestingApp')
#conf.setMaster('spark://dell-inspiron:7077') # if master is started using command line
conf.setMaster('local[*]')
from pyspark import SparkContext
sc=SparkContext.getOrCreate(conf=conf) #Start the spark context

In [9]:
import time
from pyspark.sql import SparkSession

import pandas as pd

### Сконструируем dataframe из данных Titanic

In [10]:
data1 = {'PassengerId': {0: 1, 1: 2, 2: 3, 3: 4, 4: 5},
         'Name': {0: 'Owen', 1: 'Florence', 2: 'Laina', 3: 'Lily', 4: 'William'},
         'Sex': {0: 'male', 1: 'female', 2: 'female', 3: 'female', 4: 'male'},
         'Survived': {0: 0, 1: 1, 2: 1, 3: 1, 4: 0}}

data2 = {'PassengerId': {0: 1, 1: 2, 2: 3, 3: 4, 4: 5},
         'Age': {0: 22, 1: 38, 2: 26, 3: 35, 4: 35},
         'Fare': {0: 7.3, 1: 71.3, 2: 7.9, 3: 53.1, 4: 8.0},
         'Pclass': {0: 3, 1: 1, 2: 3, 3: 1, 4: 3}}

df1_pd = pd.DataFrame(data1, columns=data1.keys())
df2_pd = pd.DataFrame(data2, columns=data2.keys())

Посмотрим как выглядят датафреймы

In [11]:
df1_pd

   PassengerId      Name     Sex  Survived
0            1      Owen    male         0
1            2  Florence  female         1
2            3     Laina  female         1
3            4      Lily  female         1
4            5   William    male         0

In [12]:
df2_pd

   PassengerId  Age  Fare  Pclass
0            1   22   7.3       3
1            2   38  71.3       1
2            3   26   7.9       3
3            4   35  53.1       1
4            5   35   8.0       3

Для того, чтобы  pandas dataframe преобразовались в  Spark dataframe и их хранение могло осуществляться на кластере в виде RDD нужно выполнить код такого типа

In [13]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [14]:
df1 = spark.createDataFrame(df1_pd)
df2 = spark.createDataFrame(df2_pd)

Теперь, чтобы видеть датафрейм, нужно использовать метод

In [15]:
df1.show()

+-----------+--------+------+--------+
|PassengerId|    Name|   Sex|Survived|
+-----------+--------+------+--------+
|          1|    Owen|  male|       0|
|          2|Florence|female|       1|
|          3|   Laina|female|       1|
|          4|    Lily|female|       1|
|          5| William|  male|       0|
+-----------+--------+------+--------+

Схему хранения датафрейма можно видеть

In [16]:
df1.printSchema()

root
 |-- PassengerId: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Survived: long (nullable = true)

### Для осуществления действий над датафреймами Spark применяются следующие  5 basic verbs for Spark

#### Select

Принимает либо список имен столбцов, либо распакованный список.

In [17]:
cols1 = ['PassengerId', 'Name']
df1.select(cols1).show()

+-----------+--------+
|PassengerId|    Name|
+-----------+--------+
|          1|    Owen|
|          2|Florence|
|          3|   Laina|
|          4|    Lily|
|          5| William|
+-----------+--------+

#### Filter

Filter принимает функциональное выражение для столбца или выражение на SQL ---

Filter с функциональным выражением для столбца

In [18]:
df1.filter(df1.Sex == 'female').show()

+-----------+--------+------+--------+
|PassengerId|    Name|   Sex|Survived|
+-----------+--------+------+--------+
|          2|Florence|female|       1|
|          3|   Laina|female|       1|
|          4|    Lily|female|       1|
+-----------+--------+------+--------+

Фильтр с выражением на SQL

In [19]:
df1.filter("Sex='female'").show()

+-----------+--------+------+--------+
|PassengerId|    Name|   Sex|Survived|
+-----------+--------+------+--------+
|          2|Florence|female|       1|
|          3|   Laina|female|       1|
|          4|    Lily|female|       1|
+-----------+--------+------+--------+

#### Изменение (Mutate) или создание новых столбцов

Создание новых столбцов в Spark использует метод .withColumn().

In [20]:
df2.withColumn('AgeTimesFare', df2.Age*df2.Fare).show()

+-----------+---+----+------+------------+
|PassengerId|Age|Fare|Pclass|AgeTimesFare|
+-----------+---+----+------+------------+
|          1| 22| 7.3|     3|       160.6|
|          2| 38|71.3|     1|      2709.4|
|          3| 26| 7.9|     3|       205.4|
|          4| 35|53.1|     1|      1858.5|
|          5| 35| 8.0|     3|       280.0|
+-----------+---+----+------+------------+

#### Суммаризация и агрегирование (Summarize and group by) датафрейма

Сначала нужно конвертировать датафрейм в объект GroupedData с помощью метода groupby() ,
а затем вызвать функции агрегирования

In [21]:
gdf2 = df2.groupby('Pclass')
gdf2

#### Агрегирование. Это может быть вычисление среднего по столбцу

In [22]:
avg_cols = ['Age', 'Fare']
gdf2.avg(*avg_cols).show()

+------+------------------+-----------------+
|Pclass|          avg(Age)|        avg(Fare)|
+------+------------------+-----------------+
|     1|              36.5|             62.2|
|     3|27.666666666666668|7.733333333333333|
+------+------------------+-----------------+

Чтобы выполнить разные агрегирующие функции за один раз, следует передать их dictionary.

In [23]:
gdf2.agg({'*': 'count', 'Age': 'avg', 'Fare':'sum'}).show()

+------+--------+------------------+---------+
|Pclass|count(1)|          avg(Age)|sum(Fare)|
+------+--------+------------------+---------+
|     1|       2|              36.5|    124.4|
|     3|       3|27.666666666666668|     23.2|
+------+--------+------------------+---------+

#### Имена столбцов можно изменить с помощью метода toDF().

In [24]:
(
    gdf2
    .agg({'*': 'count', 'Age': 'avg', 'Fare':'sum'})
    .toDF('Pclass', 'counts', 'average_age', 'total_fare')
    .show()
)

+------+------+------------------+----------+
|Pclass|counts|       average_age|total_fare|
+------+------+------------------+----------+
|     1|     2|              36.5|     124.4|
|     3|     3|27.666666666666668|      23.2|
+------+------+------------------+----------+

#### Сортировка столбца - Arrange (sort)

In [25]:
df2.sort('Fare', ascending=False).show()

+-----------+---+----+------+
|PassengerId|Age|Fare|Pclass|
+-----------+---+----+------+
|          2| 38|71.3|     1|
|          4| 35|53.1|     1|
|          5| 35| 8.0|     3|
|          3| 26| 7.9|     3|
|          1| 22| 7.3|     3|
+-----------+---+----+------+

#### Объединения (Joins and unions)

Существует два способа комбинирования данных - Joins и unions. Идея здесь такая же, как  joining and unioning tables in SQL.

Joins

Например так можно join два  titanic dataframes по столбцу PassengerId

In [26]:
df1.join(df2, ['PassengerId']).show()

+-----------+--------+------+--------+---+----+------+
|PassengerId|    Name|   Sex|Survived|Age|Fare|Pclass|
+-----------+--------+------+--------+---+----+------+
|          5| William|  male|       0| 35| 8.0|     3|
|          1|    Owen|  male|       0| 22| 7.3|     3|
|          3|   Laina|female|       1| 26| 7.9|     3|
|          2|Florence|female|       1| 38|71.3|     1|
|          4|    Lily|female|       1| 35|53.1|     1|
+-----------+--------+------+--------+---+----+------+

Можно также делать  join by conditions, но при этом создаются дубликаты столбцов, если ключи имеют одинаковое имя. Избежать этого можно передавая список ключей  объединения. Если необходимо осуществить нечеткое - nonequi joins, то нужно переименовать ключи до  join.

#### Nonequi joins

работать может весьма медленно. Однако в отличии от Hive  это возможно в Spark

In [27]:
df1.join(df2, df1.PassengerId <= df2.PassengerId).show() # Note the duplicate col names

+-----------+--------+------+--------+-----------+---+----+------+
|PassengerId|    Name|   Sex|Survived|PassengerId|Age|Fare|Pclass|
+-----------+--------+------+--------+-----------+---+----+------+
|          1|    Owen|  male|       0|          1| 22| 7.3|     3|
|          1|    Owen|  male|       0|          2| 38|71.3|     1|
|          1|    Owen|  male|       0|          3| 26| 7.9|     3|
|          1|    Owen|  male|       0|          4| 35|53.1|     1|
|          1|    Owen|  male|       0|          5| 35| 8.0|     3|
|          2|Florence|female|       1|          2| 38|71.3|     1|
|          2|Florence|female|       1|          3| 26| 7.9|     3|
|          2|Florence|female|       1|          4| 35|53.1|     1|
|          2|Florence|female|       1|          5| 35| 8.0|     3|
|          3|   Laina|female|       1|          3| 26| 7.9|     3|
|          3|   Laina|female|       1|          4| 35|53.1|     1|
|          3|   Laina|female|       1|          5| 35| 8.0|     3|
|          4|    Lily|female|       1|          4| 35|53.1|     1|
|          4|    Lily|female|       1|          5| 35| 8.0|     3|
|          5| William|  male|       0|          5| 35| 8.0|     3|
+-----------+--------+------+--------+-----------+---+----+------+

#### Unions
Union() возвращает dataframe из одного union или двух dataframes

In [28]:
df1.union(df1).show()

+-----------+--------+------+--------+
|PassengerId|    Name|   Sex|Survived|
+-----------+--------+------+--------+
|          1|    Owen|  male|       0|
|          2|Florence|female|       1|
|          3|   Laina|female|       1|
|          4|    Lily|female|       1|
|          5| William|  male|       0|
|          1|    Owen|  male|       0|
|          2|Florence|female|       1|
|          3|   Laina|female|       1|
|          4|    Lily|female|       1|
|          5| William|  male|       0|
+-----------+--------+------+--------+

Некоторые из итерационных алгоритмов создают связанные объекты union (). Существует потенциальная возможность, что время выполнения может стать слишком долгим, что может вызвать проблемы с производительностью или ошибки.

Одним из распространенных симптомов проблем производительности, вызванных цепными объединениями в цикле for, это именно требование большего чем ожидалось времени  для повторения цикла. В этом случае repartition () и checkpoint () могут помочь решить эту проблему.

### Dataframe input and output (I/O)


Существует два класса pyspark.sql.DataFrameReader и pyspark.sql.DataFrameWriter, которые обрабатывают ввод / вывод данных. В зависимости от конфигурации файлы могут быть сохранены локально, с помощью  Hive или с файловой системой Hadoop (HDFS).

Общие методы сохранения файлов данных в файлах включают saveAsTable () для таблиц Hive и saveAsFile () для локальной или файловой системы Hadoop.

#### Spark.sql API

Многие из операций, которые ,skb gjrfpfys, можно получить, написав SQL (Hive) запросы в spark.sql (). Это также удобный способ чтения таблиц Hive в DataFrams Spark. Чтобы создать существующую фреймворк Spark, используемый для spark.sql (), нужно зарегистрировать указанный фрейм данных как временную таблицу.

Temp tables
Как пример, можно определить для двух dataframes две temp tables и потом join их с помощью spark.sql().

In [29]:
df1.createOrReplaceTempView('df1_temp')
df2.createOrReplaceTempView('df2_temp')

In [30]:
query = '''
    select 
        a.PassengerId,
        a.Name,
        a.Sex,
        a.Survived,
        b.Age,
        b.Fare,
        b.Pclass
    from df1_temp a
    join df2_temp b
        on a.PassengerId = b.PassengerId'''
dfj = spark.sql(query)

In [31]:
dfj.show()

+-----------+--------+------+--------+---+----+------+
|PassengerId|    Name|   Sex|Survived|Age|Fare|Pclass|
+-----------+--------+------+--------+---+----+------+
|          5| William|  male|       0| 35| 8.0|     3|
|          1|    Owen|  male|       0| 22| 7.3|     3|
|          3|   Laina|female|       1| 26| 7.9|     3|
|          2|Florence|female|       1| 38|71.3|     1|
|          4|    Lily|female|       1| 35|53.1|     1|
+-----------+--------+------+--------+---+----+------+

Использование возможностей PySpark на более глубоком уровне

В этом разделе говорится о некоторых идеях и полезных инструментах, связанных с этими идеями, которые ямогут помочь при настройке производительности или отладке данных. Первым из них является различие между двумя типами операций: преобразованиями-  transformations и действиями - actions , а также метод explain (), который выводит план выполнения кадра данных.

Explain(), transformations, and actions

Когда создается dataframe в PySpark, в отличие от объектов Python, данные-фреймы являются  lazy evaluated. Это означает, что большинство операций - это преобразования, которые изменяют план выполнения, как Spark должен обрабатывать данные, но план не выполняется до тех пор, пока мы не вызовем и не выполним действия.

Например, если я хочу join df1 и df2 по ключу PassengerId, как и раньше:

In [32]:
df1.explain()

== Physical Plan ==
Scan ExistingRDD[PassengerId#0L,Name#1,Sex#2,Survived#3L]

In [33]:
df2.explain()

== Physical Plan ==
Scan ExistingRDD[PassengerId#8L,Age#9L,Fare#10,Pclass#11L]

In [34]:
dfj1 = df1.join(df2, ['PassengerId'])
dfj1.explain()

== Physical Plan ==
*(5) Project [PassengerId#0L, Name#1, Sex#2, Survived#3L, Age#9L, Fare#10, Pclass#11L]
+- *(5) SortMergeJoin [PassengerId#0L], [PassengerId#8L], Inner
   :- *(2) Sort [PassengerId#0L ASC NULLS FIRST], false, 0
   :  +- Exchange hashpartitioning(PassengerId#0L, 200)
   :     +- *(1) Filter isnotnull(PassengerId#0L)
   :        +- Scan ExistingRDD[PassengerId#0L,Name#1,Sex#2,Survived#3L]
   +- *(4) Sort [PassengerId#8L ASC NULLS FIRST], false, 0
      +- Exchange hashpartitioning(PassengerId#8L, 200)
         +- *(3) Filter isnotnull(PassengerId#8L)
            +- Scan ExistingRDD[PassengerId#8L,Age#9L,Fare#10,Pclass#11L]

В этом случае, join() - представляет собой  transformation в котором план для  Spark объединить (join) два dataframes, но он не выполняется если не вызывано действие - аction, такое как .count(), действие над данными, фактически определенными в df1 и df2 для того, чтобы возвратить Python object (integer).

In [35]:

dfj1.count()

5

Что происходит если сделать join через API spark.sql () вместо вызова .join ()? В этом случае как кажется создается тот же план выполнения. Но это не всегда так. Хороший план выполнения равен хорошей производительности, и explain() может дать  много, когда нужно настроить работу Spark.

In [36]:
query = '''
    select 
        a.PassengerId,
        a.Name,
        a.Sex,
        a.Survived,
        b.Age,
        b.Fare,
        b.Pclass
    from df1_temp a
    join df2_temp b
        on a.PassengerId = b.PassengerId'''
dfj = spark.sql(query)
dfj.explain()

== Physical Plan ==
*(5) Project [PassengerId#0L, Name#1, Sex#2, Survived#3L, Age#9L, Fare#10, Pclass#11L]
+- *(5) SortMergeJoin [PassengerId#0L], [PassengerId#8L], Inner
   :- *(2) Sort [PassengerId#0L ASC NULLS FIRST], false, 0
   :  +- Exchange hashpartitioning(PassengerId#0L, 200)
   :     +- *(1) Filter isnotnull(PassengerId#0L)
   :        +- Scan ExistingRDD[PassengerId#0L,Name#1,Sex#2,Survived#3L]
   +- *(4) Sort [PassengerId#8L ASC NULLS FIRST], false, 0
      +- Exchange hashpartitioning(PassengerId#8L, 200)
         +- *(3) Filter isnotnull(PassengerId#8L)
            +- Scan ExistingRDD[PassengerId#8L,Age#9L,Fare#10,Pclass#11L]

### Data persistence: cache() and checkpoint()

#### caching
Правильное кэширование caching - это ключ к высокой производительности Spark.

Эмпирическое правило состоит в том, что

- Кэшируй датафрейм, когда он используется несколько раз в скрипте.

Имейте в виду, что он только кэшируется после первого действия, такого как saveAsTable (). Если по какой-либо причине хочется убедиться, что данные кэшируются до того, как  сохраним фрейм данных, тогда нужно вызвать действие, подобное .count ().

In [37]:
df1.cache()

DataFrame[PassengerId: bigint, Name: string, Sex: string, Survived: bigint]

Метод .cache() работает как inplace method.

In [38]:
df1 = df1.cache()

Всегда можно проверить уровень хранения для любого датафрейма

In [39]:
df1.storageLevel

StorageLevel(True, True, False, True, 1)

Чтобы un-cache данный dataframe, используется метод unpersist()

In [40]:
df1.unpersist()
df1.storageLevel

StorageLevel(False, False, False, False, 1)

Существует 4 уровня кеширования, которые можно настроить с помощью функции persist (), но я не видел случая, когда  тонкая настройка использовалась.

#### Checkpointing

Иногда цепочки слишком большого числа union () вызывают проблемы с производительностью или даже  ошибки в памяти. checkpoint () усекает план выполнения и сохраняет контрольную точку во временном месте на диске.

Специалисты рекомендуют кэширование перед контрольной точкой, поэтому Spark не должен читать данные с диска после его контрольной точки.

Чтобы использовать checkpoint (), нужно указать временное расположение файла, чтобы сохранить имя файла, обратившись к объекту sparkContext из SparkSession.

In [41]:
sc = spark.sparkContext
sc.setCheckpointDir("checkpointdir") # save to c:/checkpointdir

In [42]:
df = df1.join(df1, ['PassengerId'])
df.join(df1, ['PassengerId']).explain()

== Physical Plan ==
*(8) Project [PassengerId#0L, Name#1, Sex#2, Survived#3L, Name#385, Sex#386, Survived#387L, Name#396, Sex#397, Survived#398L]
+- *(8) SortMergeJoin [PassengerId#0L], [PassengerId#395L], Inner
   :- *(5) Project [PassengerId#0L, Name#1, Sex#2, Survived#3L, Name#385, Sex#386, Survived#387L]
   :  +- *(5) SortMergeJoin [PassengerId#0L], [PassengerId#384L], Inner
   :     :- *(2) Sort [PassengerId#0L ASC NULLS FIRST], false, 0
   :     :  +- Exchange hashpartitioning(PassengerId#0L, 200)
   :     :     +- *(1) Filter isnotnull(PassengerId#0L)
   :     :        +- Scan ExistingRDD[PassengerId#0L,Name#1,Sex#2,Survived#3L]
   :     +- *(4) Sort [PassengerId#384L ASC NULLS FIRST], false, 0
   :        +- ReusedExchange [PassengerId#384L, Name#385, Sex#386, Survived#387L], Exchange hashpartitioning(PassengerId#0L, 200)
   +- *(7) Sort [PassengerId#395L ASC NULLS FIRST], false, 0
      +- ReusedExchange [PassengerId#395L, Name#396, Sex#397, Survived#398L], Exchange hashpartitioning(PassengerId#0L, 200)


Можно также выполнить checkpoint() после первого join чтобы обрезать план выполнения.

In [43]:
df = df1.join(df1, ['PassengerId']).checkpoint()
df.join(df1, ['PassengerId']).explain()

== Physical Plan ==
*(4) Project [PassengerId#0L, Name#1, Sex#2, Survived#3L, Name#410, Sex#411, Survived#412L, Name#429, Sex#430, Survived#431L]
+- *(4) SortMergeJoin [PassengerId#0L], [PassengerId#428L], Inner
   :- *(1) Filter isnotnull(PassengerId#0L)
   :  +- Scan ExistingRDD[PassengerId#0L,Name#1,Sex#2,Survived#3L,Name#410,Sex#411,Survived#412L]
   +- *(3) Sort [PassengerId#428L ASC NULLS FIRST], false, 0
      +- Exchange hashpartitioning(PassengerId#428L, 200)
         +- *(2) Filter isnotnull(PassengerId#428L)
            +- Scan ExistingRDD[PassengerId#428L,Name#429,Sex#430,Survived#431L]

Partitions and repartition()
Другой распространенной причиной проблем с производительностью может быть наличие слишком многих разделов - partitions. Чтобы проверить количество разделов, используйте .rdd.getNumPartitions ()

In [44]:
df1.rdd.getNumPartitions()

12

Этот блок данных, несмотря на наличие только 5 строк, имеет 12 разделов. Это слишком много. Мы можем переделать хранение так, чтобы использовался  только  1 раздел.

In [45]:
df1_repartitioned = df1.repartition(1)
df1_repartitioned.rdd.getNumPartitions()

1

# End of slides

Next lecture bases on https://medium.com/civis-analytics/prediction-at-scale-with-scikit-learn-and-pyspark-pandas-udfs-51d5ebfb2cd8 and notebook https://github.com/changhsinlee/changhsinlee.github.io/blob/master/notebook/2018-03-04-pyspark-dataframe-basics/dataframe-basics.ipynb¶