In [24]:
my_dict = {
    'name':["a", "b", "c", "d", "f", "g"],
    'age':[20, 27, 35, 55, 18, 21],
    "designition":["VP", "CEO", "CFO", "VP", "CEO", "MD"]
}

In [59]:
import pandas as pd
import numpy as np

df = pd.DataFrame(my_dict, index = np.array([10*x for x in range(1, 7)]))
df

    age designition name
10   20          VP    a
20   27         CEO    b
30   35         CFO    c
40   55          VP    d
50   18         CEO    f
60   21          MD    g

In [60]:
df.dtypes

age             int64
designition    object
name           object
dtype: object

In [61]:
df.head()[2:5]

    age designition name
30   35         CFO    c
40   55          VP    d
50   18         CEO    f

In [62]:
df.index

Int64Index([10, 20, 30, 40, 50, 60], dtype='int64')

In [67]:
df['designition'].unique()

array(['VP', 'CEO', 'CFO', 'MD'], dtype=object)